extends layout

block content
  .row
    .col-sx-12
      h1 Animals
      if individuals
        h3 Active
        table.table.table-striped.table-hover
          tr
            th Id
            th Name
            th Start
            th End
            th Last Movebank Event
            th Action
          
          for individual in individuals
            if individual.active 
              tr
                td= individual.id
                td= individual.name
                td= individual.featureDateStart
                td= individual.featureDateEnd
                td
                  span.lastEventDate= individual.lastEventAt
                  | 
                  a(href='#' data-animalid=individual.id).update-lastEventAt 
                   | 
                   i.fa.fa-refresh
                td
                  a(href='/admin/animal/' + individual.id ) View Details <br>
                  a(href='/admin/story/' + individual.id + '/latest' ).generate-content View story <br>
                  a(href='/admin/story/' + individual.id data-animalid=individual.id ).setIndividualStatus-deactivate Deactivate <br>

                  //- a(href='#' data-animalid=individual.id).update-story-data Update story data <br>

        h3 Inactive
        table.table.table-striped.table-hover
          tr
            th Id
            th Name
            th Last Movebank Event
            th Action
          
          for individual in individuals
            if !individual.active
              tr
                td= individual.id
                td= individual.name
                td
                  span.lastEventDate= individual.lastEventAt
                  | 
                  a(href='#' data-animalid=individual.id).update-lastEventAt 
                   | 
                   i.fa.fa-refresh                
                td
                  a(href='/admin/animal/' + individual.id ) View Details <br>
                  a(href='/admin/story/' + individual.id  + '/latest' ).generate-content View story <br>
                  a(href='/admin/story/' + individual.id data-animalid=individual.id ).setIndividualStatus-activate Activate <br>

    
    script.
      $(document).ready(function() {

        var socket = io.connect();
        
        socket.on('lastEventUpdate', data => {
          var ts = moment(data.lastEvent.timestamp).format('llll');
          $('*[data-animalid="' + data.id + '"]').parent().find('.lastEventDate').html(ts);
        });

        socket.on('individualStatus', data => {
          window.location.href = '/animals';
        });

        $('.update-story-data').on('click',function(e){
          e.preventDefault();
          socket.emit('updateStoryData', { 'id': $(this).data("animalid")  } );
        });

        $('.update-lastEventAt').on('click',function(e){
          e.preventDefault();
          socket.emit('updateLastEvent', { 'id': $(this).data('animalid')  } );
        });

        $('.setIndividualStatus-activate').on('click',function(e){
          e.preventDefault();
          socket.emit('activateIndividual', { 'id': $(this).data('animalid')  } );
        });

        $('.setIndividualStatus-deactivate').on('click',function(e){
          e.preventDefault();
          socket.emit('deactivateIndividual', { 'id': $(this).data('animalid')  } );
        });

      });