extends layout

block content
  h1= title
  //- p.lead Details(Animals) for study
  .row
    .col-sm-4
      h3 Summary (7 days)
      p Total distance: #{distance} km
        br
        | Events: #{events.length}
        br
        - var r = Math.round(events.length/7);
        | Avg. events/day: #{r}
        br

      h3 Events (7 days)
      if events
        table.table.table-striped.table-hover
          tr
            th Time
            th Lat,long
            th 

          for event in events
            tr
              td= event.timestamp
              td= event.location_lat + ',' + event.location_long
              td
    .col-sm-8
      #map-individual

